@use '../../utils' as *;

/*----------------------------------------*/
/*  6.1 footer
/*----------------------------------------*/
.footer-before{
	position: relative;
	&::before{
		background:  var(--rr-background-pastel-blue);
		position: absolute;
		width: 270px;
		height: 70px;
		content: "";
		top: -1px;
		right: -1px;
		z-index: 2;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 28% 100%);
	}
}
// Footer style 
.footer {
	&__item{
		display: flex;
		align-items: start;
		gap: 16px;
		flex-wrap: wrap;
		&-icon{
			background: transparent;
			color: var(--rr-common-white);
			width: 54px;
			height: 54px;
			border: 1.5px solid rgba(255, 255, 255, 0.2);
			border-radius: 20px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			img{
				width: 20.7px;
				height: 24px;
				object-fit: cover;
			}
		}
		&-text{
			span{
				font-family: var(--rr-ff-body);
				font-weight: var(--rr-fw-medium);
				font-style: normal;
				font-size: 16px;
				line-height: 19px;
				color: rgba(255, 255, 255, 0.6);
			}
			.title{
				a{
					font-family: var(--rr-ff-body);
					color: var(--rr-common-white);
					font-weight: var(--rr-fw-medium);
					font-size: var(--rr-fs-h5);
					line-height: var(--rr-lh-h5);
					font-style: normal;
					text-transform: capitalize;
					transition: all 0.3s ease-in-out;
					@media #{$lg, $md, $sm, $xs}{
						br{
							display: none;
						}
					}
					&:hover{
						color: var(--rr-theme-primary);
					}
				}
			}
		}
	}
	&__wrap{
		padding-bottom: 110px;
		@media #{$xs}{
			padding-bottom: 70px;
		}
	}
	&__left-item-1{
		padding-left: 37px;
		@media #{$xl, $lg, $md, $sm, $xs}{
            padding-left: 0;
        }
		@media #{$xs}{
            margin-top: 30px;
        }
	}
	&__left-item-2{
		padding-left: 120px;
		@media #{$xl, $lg, $md, $sm, $xs}{
            padding-left: 0;
        }
	}
	&__social{
		display: flex;
		align-items: center;
		gap: 8px;
		@media #{$md, $sm, $xs}{
			margin-top: 30px;
		}
		a{
			background: transparent;
			color: var(--rr-common-white);
			border: 1.5px solid rgba(255, 255, 255, 0.2);
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease-in-out;
			border-radius: 50%;
			&:hover{
				background: var(--rr-theme-primary);
				color: var(--rr-heading-primary);
			}
		}
	}
	&__seken-wrapper{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 120px;
		flex-wrap: wrap;
		row-gap: 135px;
		@media #{$lg, $md, $sm, $xs}{
			justify-content: center;
		}
		@media #{$xs}{
			padding-bottom: 70px;
			row-gap: 55px;
		}
		&-seken{
			h4{
				font-family: var(--rr-ff-body);
				font-weight: var(--rr-fw-ebold);
				color: var(--rr-common-white);
				font-size: 259px;
				line-height: 1;
				@media #{$md}{
					font-size: 215px;
				}
				@media #{$sm}{
					font-size: 165px;
				}
				@media #{$xs}{
					font-size: 120px;
				}
				@media #{$xxs}{
					font-size: 100px;
				}
				@media #{$mxs}{
					font-size: 85px;
				}
			}
		}
		&-media{
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
//footer inner before css
.footer-inner{
	&::before{
		background: var(--rr-common-white);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 22% 100%);
	}
}