@use '../../utils' as *;
/*----------------------------------------*/
/*  3.1 banner Style 1
/*----------------------------------------*/

// Banner style
.banner1{
	&__area{
		padding-top: 215px;
		padding-bottom: 225px;
		margin: 20px 20px 0 20px;
		@media #{$xl, $lg, $md, $sm, $xs} {
			margin: 0;
		}
		@media #{$lg, $md} {
			padding-top: 180px;
		}
		@media #{$sm} {
			padding-top: 140px;
		}
		@media #{$xs} {
			padding-top: 120px;
		}
		@media #{$md} {
			padding-bottom: 150px;
		}
		@media #{$xs} {
			padding-bottom: 100px;
		}
		
	}
	
	&__shapes{
		&-shape-1{
			position: absolute;
			width: 738px;
			height: 738px;
			background: #B617FF;
			filter: blur(300px);
			top: -115px;
			left: -116px;
		}
		&-shape-2{
			position: absolute;
			width: 738px;
			height: 738px;
			background: #3C19BE;
			filter: blur(300px);
			z-index: -1;
			top: -212px;
			left: 720px;
		}
		&-shape-3{
			position: absolute;
			width: 738px;
			height: 738px;
			background: #0CD24E;
			filter: blur(300px);
			bottom: -386px;
			left: 425px;
		}
		&-shape-4{
			position: absolute;
			width: 738px;
			height: 738px;
			background: #19FED8;
			filter: blur(300px);
			z-index: -1;
			right: -38px;
			bottom: -290px;
		}
		&-shape-5{
			position: absolute;
			width: 794.05px;
			height: 794.05px;
			background: linear-gradient(127.5deg, rgba(0, 0, 0, 0.1) 3.97%, rgba(0, 0, 0, 0.1) 99.13%);
			top: 68px;
			left: -81px;
			border-radius: 50%;
		}
		&-shape-6{
			position: absolute;
			right: 53px;
			top: 80px;
			z-index: -1;
			@media #{$sm, $xs} {
				display: none;
			}
		}
		&-shape-7{
			position: absolute;
			left: 97px;
			bottom: 140px;
			z-index: -1;
			@media #{$xs} {
				display: none;
			}
		}
		&-shape-8{
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	&__from-wrapper{
		background: rgba(5, 5, 19, 0.4);
		backdrop-filter: blur(7px);
		max-width: 910px;
		padding: 22px 46px 32px 34px;
		&-title{
			color: var(--rr-common-white);
			margin-bottom: 7px;
		}
		&-box{
			display: flex;
			align-items: center;
			gap: 10px;
			// flex-wrap: wrap;
			@media #{$lg, $md, $sm, $xs} {
				display: block;
			}
			.rr-subscribe-form{
				.form-control{
					background-color: transparent;
					width: 700px;
					height: 42px;
					border: 1px solid rgba(255, 255, 255, 0.14);
					border-radius: 0;
					padding-left: 20px;
					color: rgb(255 255 255 / 50%);
					@include rs-placeholder{
						color: rgb(255 255 255 / 50%);
					}
					&:focus{
						box-shadow: none;
					}
					@media #{$lg, $md, $sm, $xs} {
						width: 100%;
						margin-bottom: 15px;
					}
				}
			}
		}
	}
	&__thumb{
		width: 485px;
		@media #{$xl, $lg} {
			width: 100%;
		}
		@media #{$md, $sm} {
			margin: 0 auto;
		}
		@media #{$xs} {
			width: 100%;
			margin: 0 auto;
		}
	}
}
.banner-before{
	position: relative;
	&::before{
		background: var(--rr-common-white);
		position: absolute;
		width: 570px;
		height: 130px;
		content: '';
		right: 0;
		bottom: -1px;
		clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
		z-index: 2;
		@media #{$xs} {
			display: none;
		}
	}
}