@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 blog
/*----------------------------------------*/
//blog
.blog{
    &__item{
        max-width: 380px;
        @media #{$lg, $md, $sm, $xs} {
            max-width: 100%;
        }
        &-details{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            flex-wrap: wrap;
            row-gap: 10px;
            &-cta{
                display: flex;
                align-items: center;
                gap: 10px;
                .man-img{
                    img{
                        width: 44px;
                        height: 44px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .text{
                    .title{
                        font-family: var(--rr-ff-body);
                        font-weight: var(--rr-fw-sbold);
                        color: var(--rr-heading-primary);
                        font-style: normal;
                        font-size: var(--rr-fs-h6);
                        line-height: 18px;
                        a{
                            transition: all 0.3s ease-in-out;
                            &:hover{
                                color: #1877F2;
                            }
                        }
                    }
                    .position{
                        font-family: var(--rr-ff-body);
                        font-weight: var(--rr-fw-medium);
                        color: rgb(5 5 19 / 60%);
                        font-style: normal;
                        font-size: 12px;
                        line-height: 26px;
                        text-transform: uppercase
                    }
                }
            }
            .date{
                i{
                    color: var(--rr-heading-primary);
                    margin-right: 3px;
                }
                font-family: var(--rr-ff-body);
                font-weight: var(--rr-fw-medium);
                font-style: normal;
                font-size: 14px;
                line-height: 17px;
                color: rgba(5, 5, 19, 0.6);
            }
        }
        &-thumb-2{
            position: relative;
            &::before{
                background: var(--rr-background-pastel-blue);
                position: absolute;
                width: 140px;
                height: 40px;
                content: "";
                top: -1px;
                right: -1px;
                z-index: 1;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 23% 100%);
            }
        }
        &-thumb{
            max-width: 380px;
            width: 100%;
            &-1{
                &::before{
                    background: var(--rr-common-white);
                }
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-title{
            margin-top: 20px;
            a{
                font-family: var(--rr-ff-heading);
                font-weight: var(--rr-fw-bold);
                color: var(--rr-heading-primary);
                font-size: var(--rr-fs-h4);
                line-height: var(--rr-lh-h4);
                font-style: normal;
                letter-spacing: -0.03em;
                transition: all 0.3s ease-in-out;
                @media #{$lg, $md, $sm, $xs} {
                    br{
                        display: none;
                    }
                }
                &:hover{
                    color: #1877F2;
                }
            }
        }
    }
    &__right-border{
        border-right: 1px solid rgb(5 5 19 / 20%);
        @media #{$xl, $lg, $md, $sm, $xs} {
            border-right: 1px solid transparent;
        }
    }
}
// blog-2
.blog-2{
    &__item{
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(90deg, rgba(132,88,212,1) 0%, rgba(44,35,221,1) 100%) 1;
        padding: 20px 20px 53px 20px;
        &-thumb{
            margin-bottom: 29px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
            }
            .top-icon{
                background: linear-gradient(90deg, #2B22E0 0%, #46429E 100%);
                border: 1px solid rgba(255, 255, 255, 0.4);
                position: absolute;
                padding: 0 14px 0 14px;
                top: 20px;
                left: 20px;
                h5{
                    font-family: var(--rr-ff-body);
                    font-weight: var(--rr-fw-medium);
                    color: var(--rr-common-white);
                    font-size: 13px;
                    line-height: 22px;
                    text-transform: uppercase;
                }
            }
        }
        &-content{
            padding: 30px 10px 0 10px;
            border-width: 1px;
            border-style: solid;
            border-image: linear-gradient(90deg, rgba(132,88,212,1) 0%, rgba(44,35,221,1) 100%) 1;
            border-right: 0;
            border-left: 0;
            border-bottom: 0;
            @media #{$xs}{
                padding: 30px 0 0 0;
            }
            &-cta-wrap{
                margin-bottom: 15px;
                display: flex;
                align-items: center;
                gap: 14px;
                flex-wrap: wrap;
                .date{
                    font-family: var(--rr-ff-body);
                    font-style: normal;
                    font-weight: var(--rr-fw-medium);
                    font-size: 14px;
                    line-height: 22px;
                    color: rgb(255 255 255 / 70%);
                    i{
                        color: var(--rr-common-white);
                        margin-right: 7px;
                        transition: all 0.3s ease-in-out;
                    }
                }
                a{
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        color: var(--rr-theme-primary);
                        i{
                            color: var(--rr-theme-primary);
                        }
                    }
                }
            }
            .title{
                a{
                    font-family: var(--rr-ff-heading);
                    font-weight: var(--rr-fw-medium);
                    color: var(--rr-common-white);
                    font-style: normal;
                    font-size: 22px;
                    line-height: var(--rr-lh-h3);
                    letter-spacing: -0.03em;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        color: var(--rr-theme-primary2);
                    }
                    @media #{$lg, $md, $sm, $xs}{
                        br{
                            display: none;
                        }
                    }
                }
            }
            &-btn{
                font-family: var(--rr-ff-body);
                font-weight: var(--rr-fw-medium);
                color: var(--rr-common-white);
                font-style: normal;
                font-size: var(--rr-fs-h6);
                line-height: 18px;
                display: flex;
                align-items: center;
                gap: 8px;
                transition: all 0.3s ease-in-out;
                margin-top: 28px;
                i{
                    font-size: 14px;
                }
                &:hover{
                    color: var(--rr-theme-primary2);
                }
            }
        }
    }
}
// latest-blog css
.rr__latest-blog{
    .swiper-pagination{
        height: 100%;
        width: auto;
        position: absolute;
        top: 47%;
        bottom: auto;
        left: 50%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-50%);
        @media #{$sm, $xs}{
           display: none;
        }
        .swiper-pagination-bullet{
            background-color: transparent;
            width: 20px;
            height: 20px;
            position: relative;
            border-radius: 50%;
            opacity: 1;
            display: block;
            &.swiper-pagination-bullet-active{
                border: 1px solid var(--rr-common-white);
                &::before{
                    background: var(--rr-common-white);
                    border: 1px solid var(--rr-common-white);
                }
            }
            &:before{
                content: "";
                background: rgba(255, 255, 255, 0.2);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &-item{
        background: rgba(255, 255, 255, 0.06);
        border: 1px solid rgba(255, 255, 255, 0.24);
        padding: 20px;
        margin-bottom: 80px;
        @media #{$sm, $xs}{
            margin-bottom: 0;
         }
    &-img{
       & h6{
        font-family: var(--rr-ff-body);
        font-style: normal;
        font-weight: var(--rr-fw-medium);
        font-size: var(--rr-fs-h6);
        line-height: 22px;
        color: var(--rr-heading-primary);
        text-transform: uppercase;   
        & span{
            font-family: var(--rr-ff-heading);
            font-style: normal;
            font-weight: var(--rr-fw-bold);
            font-size: 26px;
            line-height: 1;
            letter-spacing: -0.04em;
            color: var(--rr-heading-primary);
            display: block;
        }     
        }
        &-text{
            background:var(--rr-theme-primary);
            display: inline-block;
            padding: 14px;
            max-width: 60px;
            max-height: 70px;
            position: absolute;
            left: 40px;
            top: 70px;
            transform: translate(0, -50%);
        }
    }
    }
    &-text{
        .creative{
            font-family: var(--rr-ff-body);
            font-style: normal;
            font-weight: var(--rr-fw-medium);
            font-size: 13px;
            line-height: 22px;
            color: var(--rr-theme-primary);
            background: rgba(255, 218, 89, 0.1);
            border: 1px solid rgba(255, 218, 89, 0.2);
            padding: 0 13px 0 14px;
            display: inline-block;
        }
        & h4{
            margin-top: 24px;
           a{
                font-family: var(--rr-ff-heading);
                color: var(--rr-common-white);
                font-weight: var(--rr-fw-medium);
                font-style: normal;
                font-size: 22px;
                line-height: var(--rr-lh-h3);
                letter-spacing: -0.03em;
                margin-top: 25px;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: var(--rr-theme-primary2);
                }
           }
        }
        & h6{
            margin-top: 25px;
            a{
                font-family: var(--rr-ff-body);
                font-weight: var(--rr-fw-medium);
                color: var(--rr-common-white);
                font-style: normal;
                font-size: var(--rr-fs-h6);
                line-height: 22px;
                margin-top: 20px;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: var(--rr-theme-primary2);
                }
            }
            & span{
            font-family: var(--rr-ff-body);
            font-weight: var(--rr-fw-regular);
            font-style: normal;
            font-size: var(--rr-fs-h6);
            line-height: 22px;
            color: #6A738B;
            padding: 0;
            background:none;
            border: none;
            }
        }
    }
}
//blog-4
.blog-4{
    &__area{
        .blog-4-slider{
            .swiper-pagination-4{
                height: 100%;
                width: auto;
                position: absolute;
                top: 47%;
                bottom: auto;
                left: 50%;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                transform: translate(-50%);
                @media #{$sm, $xs}{
                   display: none;
                }
                .swiper-pagination-bullet{
                    background: rgba(5, 5, 19, 0.2);
                    width: 8px;
                    height: 8px;
                    position: relative;
                    border-radius: 50%;
                    opacity: 1;
                    display: block;
                    &.swiper-pagination-bullet-active{
                        background: var(--rr-theme-primary2);
                    }
                    &:before{
                        content: "";
                        background: rgba(5, 5, 19, 0.2);
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
    &__item{
        background: var(--rr-common-white);
        box-shadow: 0px 8px 60px rgba(44, 58, 95, 0.16);
        &-thumb{
            padding: 20px 20px 0 20px;
            &-media{
                position: relative;
                img{
                    width: 100%;
                    height: 10%;
                    object-fit: cover;
                }
                .icon{
                    background: var(--rr-theme-primary2);
                    display: inline-flex;
                    padding: 1px 14px;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    span{
                        font-family: var(--rr-ff-body);
                        font-weight: var(--rr-fw-medium);
                        color: var(--rr-common-white);
                        font-style: normal;
                        font-size: 13px;
                        line-height: 22px;
                    }
                }
            }
        }
        &-cta{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 5px;
            gap: 14px;
            padding: 27px 30px 18px 30px;
            .date{
                font-family: var(--rr-ff-body);
                font-weight: var(--rr-fw-medium);
                font-style: normal;
                font-size: 14px;
                line-height: 22px;
                color: rgb(5 5 19 / 70%);
                i{
                    color: var(--rr-heading-primary);
                    font-size: 16px;
                    margin-right: 7px;
                }
            }
        }
        &-content{
            padding: 16px 30px 40px 30px;
            border-top: 1px solid rgba(5, 5, 19, 0.14);
            &-author{
                display: flex;
                align-items: center;
                gap: 10px;
                img{
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .title{
                    font-family: var(--rr-ff-body);
                    font-weight: var(--rr-fw-medium);
                    color: var(--rr-heading-primary);
                    font-style: normal;
                    font-size: var(--rr-fs-h6);
                    line-height: 22px;
                    text-transform: capitalize;
                    span{
                        font-weight: var(--rr-fw-regular);
                    }
                }
            }
        }
    }
    &__title{
        margin-bottom: 24px;
        a{
            font-family: var(--rr-ff-heading);
            font-weight: var(--rr-fw-medium);
            color: var(--rr-heading-primary);
            font-style: normal;
            font-size: 22px;
            line-height: var(--rr-lh-h3);
            letter-spacing: -0.03em;
            text-transform: capitalize;
            transition: all .3s ease-in-out;
            &:hover{
                color: var(--rr-theme-primary2);
            }
        }
    }
}
// latest blog css home-5
.blog-5{
    &__item{
        background: var(--rr-common-white);
    }
    &__img{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text{
        padding: 30px 55px 60px 30px;
        .cta{
            background-color: var(--rr-theme-primary2);
            font-family: var(--rr-ff-body);
            font-weight: var(--rr-fw-medium);
            color: var(--rr-common-white);
            font-style: normal;
            font-size: 14px;
            line-height: 22px;
            align-items: center;
            padding: 10px 15px;
            i{
                margin-right: 6px;
            }
        }
        .title{
            margin-top: 22px;
            margin-bottom: 34px;
            a{
                font-family: var(--rr-ff-heading);
                font-weight: var(--rr-fw-medium);
                color: var(--rr-fw-medium);
                font-style: normal;
                font-size: 22px;
                line-height: var(--rr-lh-h3);
                letter-spacing: -0.03em;
                text-transform: capitalize;
                margin-top: 15px;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: var(--rr-theme-primary2);
                }
            }
        }
    }
    &__btn{
        .learn-btn{
            font-family: var(--rr-ff-body);
            font-weight: var(--rr-fw-sbold);
            color: var(--rr-heading-primary);
            font-style: normal;
            font-size: var(--rr-fs-h6);
            line-height: 18px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: var(--rr-theme-primary2);
                span{
                    background: var(--rr-theme-primary2);
                    color: var(--rr-common-white);
                }
            }
           span{
            border: 1px solid rgba(5, 5, 19, 0.14);
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
           }
        }
    }
}
// blog-6 css
.latest-trends__item-wrapper {
    background: #E9EEE2;
    display: inherit;
    @media #{$xs} {
        flex-wrap: wrap;
    }
    .latest-trends__thumb{
        @media #{$xs} {
            width: 100%;
            height: 100%;
        }
    }
    & img{
       width: inherit;
    }
}
.latest-trends__text{
    padding: 45px 50px 45px 36px;
    @media #{$md, $xs}{
        padding: 25px;
     }
    & span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #050513;
    background: #ffffffff;
    box-shadow: 0px 2px 8px rgba(5, 5, 19, 0.08);
    padding: 7px 14px;
    }
    & h5{
        margin-top: 20px;
        margin-bottom: 9px;
        a{
            font-family: 'Space Grotesk';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 30px;
            letter-spacing: -0.03em;
            text-transform: capitalize;
            color: #050513;
            margin: 15px 0 10px 0;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: var(--rr-theme-primary2);
            }
        }
    }
    & p{
        font-weight: 500;
        color: #050513;

    }
    .latest-trends-btn{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #050513;
        display: block;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: var(--rr-theme-primary2);
        }
    & i{
        margin-left: 5px;
    }
    }
}
.rr-scrollbar {
    background: rgba(233, 238, 226, 0.6);
    height: 5px;
    margin-left: 315px;
    margin-right: 315px;
    @media #{$md}{
        margin-left: 60px;
        margin-right: 60px;
     }
     @media #{$sm, $xs, $xxs}{
        margin-left: 10px;
        margin-right: 10px;
     }

}
.swiper-scrollbar-drag {
    width: 430px !important;
    background-color: #ACE20C;
    height: 5px;
    border-radius: 0;
    @media #{$md, $sm, $xs, $xxs}{
        width: 100px !important;
     }
}
// blog-8__area start ---------------------------------------------------
.blog-8 {
    background: #EDF0F7;

    &__item {
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(5, 5, 19, 0.2);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 30px;
    }

    &__thumb {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }

        span {
            position: absolute;
            top: 30px;
            right: 25px;
            font-size: 15px;
            font-weight: 600;
            padding: 4.5px 14.5px;
            line-height: 1;
            border-radius: 4px;
            color: var(--rr-common-white);
            background-color: var(--rr-theme-primary8);
        }
    }

    &__content {
        padding: 30px 20px;
        padding-top: 20px;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        color: #050513;
        line-height: 34px;
        margin-bottom: 0;
        letter-spacing: -0.03em;
        &:hover{
            color: var(--rr-theme-primary8);
        }

        @media #{$xs} {
            font-size: 18px;
            line-height: 28px;
        }
    }

    &__dec {
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
        margin-top: 8px;
        margin-bottom: 22px;
        color: rgb(5 5 19 / 60%);
    }

    &__author {
        display: flex;
        align-items: center;
        column-gap: 18px;

        &__thumb {
            width: 54px;
            height: 54px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100px;
            }
        }

        &__text {
            .name {
                font-size: 18px;
                font-weight: 600;
                color: #050513;
                margin-bottom: 0;
                line-height: 1.3;

                @media #{$xs} {
                    font-size: 16px;
                    line-height: 1;
                }
                a{
                    &:hover{
                        color: var(--rr-theme-primary8);
                    }
                }
            }

            .date {
                font-size: 15px;
                font-weight: 500;
                color: rgb(5 5 19 / 60%);
            }
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media #{$xs} {
            display: block;
        }
    }

    &__button {
        i {
            width: 50px;
            height: 50px;
            border-radius: 100px;
            border: 1.5px solid rgb(5 5 19 / 14%);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #050513;
            transition: .3s;

            &:hover {
                background-color: var(--rr-theme-primary8);
                border-color: var(--rr-theme-primary8);
                color: var(--rr-common-white);
            }
        }

        &__wrapper {
            display: flex;
            align-items: center;
            column-gap: 8px;
        }
    }
}
// latest blog css home-9
.blog-9{
    &__item{
        background: #EDF0F7;
        border-radius: 10px;
        &-thumb{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px 10px 0 0;
            }
        }
        &-content{
            margin-top: 22px;
            padding: 0 28px 40px 30px;
            .title{
                margin-bottom: 12px;
                a{
                    font-family: var(--rr-ff-heading);
                    font-weight: var(--rr-fw-bold);
                    color: var(--rr-heading-primary);
                    font-style: normal;
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: -0.03em;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        color: var(--rr-theme-primary2);
                    }
                }
            }
            .calender{
                font-family: var(--rr-ff-body);
                font-weight: var(--rr-fw-medium);
                font-style: normal;
                font-size: 15px;
                line-height: 22px;
                color: rgb(5 5 19 / 60%);
                i{
                    color: var(--rr-heading-primary);
                    margin-right: 6px;
                }
            }
        }
    }
}


// blog-10

.latest-blog10__content{
    background:#EDF2F7;
    padding: 20px 30px 30px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @media #{$xs}{
        padding: 20px 15px 30px 15px;
     }
    &-meta{
    & ul {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    list-style: none;
    & li{
    & a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #050513;
        opacity: 0.7;
    }
    & span{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #050513;
        opacity: 0.7;
        svg{
            margin-right: 2px;
        }
    }
    }
    }
    }
    &-title{
        a{
            font-family: 'Space Grotesk';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 34px;
            letter-spacing: -0.03em;
            text-transform: capitalize;
            color: #050513;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: var(--rr-theme-primary10);
            }
        }
    }
}

.latest-blog10__thumb img {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.latest-blog10__content{
    .rr-btn{
        background: transparent;
        border: 1px solid rgba(5, 5, 19, 0.14);
        border-radius: 6px;
        font-size: 15px;
        padding: 15px 30px;
        &::before{
            background: var(--rr-theme-primary10);
        }
        &:hover{
            color: var(--rr-heading-primary);
        }
     }
}
.latest-blog10__right-content{
display: flex;
align-items: center;
background: #EDF2F7;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
@media #{$sm, $xs}{
    flex-wrap: wrap;
 }

&-img{
    @media #{$sm, $xs}{
        width: 100%;
     }
   & img{
    width: inherit;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    @media #{$sm, $xs}{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        height: 300px;
        width: 100%;
     }
    }
}
&-text{
    padding: 34px 30px 44px 30px;
    // background:#EDF2F7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    @media #{$lg}{
        padding: 34px 30px 77px 30px;
     }
    @media #{$md}{
        padding: 34px 30px 44px 30px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
     }
    @media #{$xs}{
        padding: 34px 15px 30px 15px;
     }
     @media #{$sm, $xs}{
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
     }
     .rr-btn{
        background: transparent;
        border: 1px solid rgba(5, 5, 19, 0.14);
        border-radius: 6px;
        font-size: 15px;
        padding: 15px 30px;
        &::before{
            background: var(--rr-theme-primary10);
        }
        &:hover{
            color: var(--rr-heading-primary);
        }
     }
    &-meta{
        margin-bottom: 10px;
       
       & ul{
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
        list-style: none;
        }
        
        & li{
            & span{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #050513;
                opacity: 0.7;
                svg{
                    margin-right: 2px;
                }
            }
            & a{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #050513;
                opacity: 0.7;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: var(--rr-theme-primary10);
                }
            }
        }
       }
       .latest-blog10__content-title{
        font-size: 20px;
       }
    }
}