@use "../../utils" as *;

/*----------------------------------------*/
/*  8.8 contact-us
/*----------------------------------------*/
.contact{
    &__media{
        max-width: 580px;
        position: relative;
        @media #{$sm, $xs} {
            margin: 0 auto;
        }
        &::before{
            background: var(--rr-common-white);
            position: absolute;
            width: 270px;
            height: 70px;
            content: "";
            top: -1px;
            right: -1px;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 22% 100%);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title-wrapper{
        @media #{$sm, $xs} {
            margin-top: 30px;
        }
    }
    &__form-wrapper{
        margin-top: 33px;
    }
    &__form{
        .rr-btn{
            padding: 16px 49px;
        }
    }
    &__input{
        margin-bottom: 20px;
        input{
            font-family: var(--rr-ff-body);
            font-weight: var(--rr-fw-medium);
            padding: 14px 20px;
            font-style: normal;
            font-size: 15px;
            line-height: 20px;
            color: rgb(8 5 33 / 50%);
        }
    }
    &__textarea{
        textarea{
            font-family: var(--rr-ff-body);
            font-weight: var(--rr-fw-medium);
            padding: 14px 20px;
            font-style: normal;
            font-size: 15px;
            line-height: 20px;
            color: rgb(8 5 33 / 50%);
            max-width: 630px;
            height: 180px;
            @media #{$sm, $xs} {
                max-width: 100%;
            }
        }
        .wrap{
            display: flex;
            gap: 10px;
            margin-top: 3px;
            .form-check-input{
                border-radius: 0;
                &:focus{
                    border: 1px solid var(--rr-theme-primary);
                }
            }
            .form-check-label{
                font-family: var(--rr-ff-body);
                font-weight: var(--rr-fw-regular);
                font-style: normal;
                font-size: 15px;
                line-height: 26px;
                color: rgb(5 5 19 / 60%);
            }
        }
    }
}

.contact-map{
    .map {
        width: 100%;
        height: 570px;
        position: relative;
        &::before{
            background: var(--rr-common-white);
            position: absolute;
            width: 270px;
            height: 70px;
            content: "";
            top: -1px;
            right: -1px;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 28% 100%);
            @media #{$xs} {
                width: 120px;
                height: 40px;
            }
        }
        @media #{$md} {
            height: 400px;
        }
        @media #{$xs, $sm} {
            height: 300px;
        }
        
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.loading-form {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999;
    background: #000;
    opacity: .5;
    display: none;
}
.success-message { color: green; }
.error-message { color: red;}
.contact-us{
    &__widget{
        max-width: 587px;
        width: 100%;

        img{
            width: 100%;
            height: 100%;
        }
    }
}